#main-div
{
    display: flex;
    height: 300vh;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#home
{
    background: linear-gradient(90deg, rgb(67, 185, 166) 10%, rgb(88, 88, 88) 100%);
}

ul
{
    margin: 0;
    padding: 1rem 5rem 1rem 5rem;
    width: 25vw;
    background-color: #FFF;
    border-radius: 20px;
}

li
{
    list-style: none;
    padding: 1rem;
    
}

.label
{
    padding-right: 35px;
    font-size: 1.1rem;
}

#schedule
{
    font-weight: bold;
    font-size: larger;
}

.selection
{
    display: flex;
    justify-content: space-between;
}

.time-input
{
    width: 6rem;
    height: 1.6rem;
    margin: 0.3rem 0 0.3rem 0;
    font-size: 1.1rem;
}

.time-input, .time-input::selection
{
   border-radius: 0.5rem; 
   border: 0.1rem transparent;
}

.checkbox-label
{
    font-size: 1.1rem;
}

.break-checkbox
{
    padding-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.checkbox:hover, .break-checkbox
:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.checkbox
{
    width: 1rem;
    height: 1rem;
}

.checkbox:checked
{
    accent-color: rgb(67, 185, 166);
}

.button
{
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 1.5rem 0 1.5rem 0;
    border: solid 3px rgb(255, 255, 255);    
}

.calculatebutton-div, .restbutton-div
{
    display: flex;
    justify-content: center;
}

input[type=file]::file-selector-button, .button{
    background-color: rgb(182, 182, 182);
    font-size: medium;
    font-weight: bolder;
    color: rgb(21, 7, 7);
    transition: border-radius 0.4s ease;
}

input[type=file]::file-selector-button
{
    padding: 15px;
    border-radius: 20px 0 20px 0;
    border: solid transparent 2px;
}

.button:hover, input[type=file]::file-selector-button:hover
{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(21, 7, 7);
    border-radius: 20px 15px 20px 15px;
    transition: border-radius 0.4s ease;
}

.result-text
{
    color: rgb(67, 185, 166);
    font-weight: bold;
}