#main-div
{
    display: flex;
    height: 230vh;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#home
{
    background: linear-gradient(90deg, rgb(67, 185, 166) 10%, rgb(88, 88, 88) 100%);
}

ul
{
    margin: 0;
    padding: 10px 30px 10px 30px;
    width: 25vw;
    background-color: #FFF;
    border-radius: 20px;
}

li
{
    list-style: none;
    padding: 10px;
    
}

.label
{
    padding-right: 35px;
    
}

#schedule
{
    font-weight: bold;
    font-size: larger;
}

.selection
{
    display: flex;
    justify-content: space-between;
}


.button
{
    background-color: rgb(182, 182, 182);
    padding: 15px 20px 15px 20px;
    margin-top: 10px;
    border-radius: 20px 0 20px 0;
    border: solid 3px rgb(255, 255, 255);    
    color: black;
    font-size: small;
    font-weight: bold;
    margin-left: 6vw;
}

input[type=file]::file-selector-button
{
    background-color: rgb(182, 182, 182);
    padding: 15px;
    border-radius: 20px 0 20px 0;
    border: solid transparent 2px;
    font-size: small;
    font-weight: bold;
}

.button:hover, input[type=file]::file-selector-button:hover
{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(21, 7, 7);
    border-radius: 20px 15px 20px 15px;
    transition: border-radius 0.3s ease;
}

.result-text
{
    color: rgb(67, 185, 166);
    font-weight: bold;
}